name: build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
      - uses: actions/checkout@v5
      - run: make download-tools
      - run: make install
      - run: make generate
      - run: make build-js
        env:
          NODE_OPTIONS: --openssl-legacy-provider
      - run: make lint
      - run: make test
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}
      - run: make release-snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: docker push "ghcr.io/jo-m/traggo-server:amd64-latest"
      - run: docker push "ghcr.io/jo-m/traggo-server:amd64-${{ github.sha }}"
